<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Système de recommandation</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/home-style.css') }}>
   
    
</head>

<body>
    <form id="form" class="form" method="post" action="/user">
        <div class="title">Bienvenue !</div>
        <div class="subtitle">Veuillez entrez les informations suivantes avant de commencer!</div>
        <div class="input-container ic1">
            <input id="name" name="name" class="input" type="text" placeholder=" " required />
            <div class="cut"></div>
            <label for="name" class="placeholder">Nom</label>
        </div>
        <div class="input-container ic2">
            <select id="genre" name="genre" class="input" type="text" placeholder=" ">
                <option value="1">Homme</option>
                <option value="0">Femme</option>
            </select>
            <div class="cut"></div>
            <label for="genre" class="placeholder">Genre</label>
        </div>
        <div class="input-container ic2">
            <input id="age" name="age" class="input" type="text" placeholder=" " required />
            <div class="cut cut-short"></div>
            <label for="age" class="placeholder">Age</label>
        </div>
        <input type="submit" name="submit" class="submit" value="Continuer"/>
    </form>
</body>

</html>