{% if result %}
<h3 align="center">Result</h3>
<br />
<h4 align="center">The patient is likely to have: <b>{{ disease }}</b> </h4>
<h4 align="center">Here is the table of all results</h4>
<table class="table table-bordered">
    <tr>
        <th>Model</th>
        <th>Disease</th>
        <th>Probability</th>
    </tr>
    {% for disease, probability, model in result %}
    <tr>
        <td>{{ model }}</td>
        <td>{{ disease }}</td>
        <td>{{ probability }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}